{% extends 'base.html' %}
{% load static%}
{% block contents %} 
    <hr>
    <!-- 본문 최신음악 등 앨범 -->
    <div class="container">
      <div class="second_var">
        <ul class="nav nav-pills mb-3 ms-5" id="pills-tab" role="tablist">
          <h2 class="mt-3 me-3">
            <a">최신음악</a>
          </h2>
          <li class="nav-item mt-3 me-2" role="presentation">
            <button class="btn btn-outline-secondary btn-sm active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">종합</button>
          </li>
          <li class="nav-item mt-3 me-2" role="presentation">
            <button class="btn btn-outline-secondary btn-sm" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">국내</button>
          </li>
          <li class="nav-item mt-3" role="presentation">
            <button class="btn btn-outline-secondary btn-sm" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">해외</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row d-flex justify-content-center">
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img01.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Haru Kid</h3>
                    <p class="mt-5">3, 2, 1</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img02.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">정동하</h3>
                    <p class="mt-5">너의 모습</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img03.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">TOUT Y EST & DAUL</h3>
                    <p class="mt-5">AVENUE</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img04.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">더 데이지 (The Daisy)</h3>
                    <p class="mt-5">연애의 참견 2021 OST - Part.23</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img05.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">APRO (아프로)</h3>
                    <p class="mt-5">고군분투</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img06.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">루커스 (LU4US)</h3>
                    <p class="mt-5">MY LOVE</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img07.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">오세민 (도란)</h3>
                    <p class="mt-5">생각에 지쳐 잠 못 드는 밤에</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img08.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">O$TEN</h3>
                    <p class="mt-5">How was your Day</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img09.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Chosen 1 (초즌원)</h3>
                    <p class="mt-5">Just Do It</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img10.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Osshun Gum</h3>
                    <p class="mt-5">The way to Heaven</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img11.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">소소상점</h3>
                    <p class="mt-5">비가 오면</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main_img12.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Swim in U (스민유)</h3>
                    <p class="mt-5">사랑에도 공식이 있나요 OST PART 1</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
            </div>    
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row d-flex justify-content-center">
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img01.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">타임플라워 (Time Flower)</h3>
                    <p class="mt-5">Try</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img02.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Filament</h3>
                    <p class="mt-5">Close eyes</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img03.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">다양성</h3>
                    <p class="mt-5">동그라미</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img04.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">JT (제이티)</h3>
                    <p class="mt-5">Color</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img05.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">김한주 (H.FALLEN)</h3>
                    <p class="mt-5">Breezy</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img06.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">EVEN</h3>
                    <p class="mt-5">Alien Area</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img07.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">림림 (RimRim)</h3>
                    <p class="mt-5">신랑에게 (To My Groom)</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img08.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Various Artists</h3>
                    <p class="mt-5">A.A x G.T.M Compilation Vol. 2</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img09.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Hawaiian Texture</h3>
                    <p class="mt-5">延命 (연명)</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img10.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">루 (LEW) & Dollarsignpark (스파크)</h3>
                    <p class="mt-5">희미해지는 기억들에 대하여 (Blurry)</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img11.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">VENI RAIN</h3>
                    <p class="mt-5">OAO</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main2_img12.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Sammsosa</h3>
                    <p class="mt-5">SPRED</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
            </div>    
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row d-flex justify-content-center">
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img01.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Pentatonix</h3>
                    <p class="mt-5">I Just Called To Say I Love You</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img02.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Wallows</h3>
                    <p class="mt-5">I Don't Want to Talk</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img03.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Finn Askew</h3>
                    <p class="mt-5">Tokyo</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img04.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Dempsey Hope</h3>
                    <p class="mt-5">reset</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img05.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Mahalia</h3>
                    <p class="mt-5">Roadside</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img06.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Norah Jones</h3>
                    <p class="mt-5">Christmas Calling (Jolly Jones)
                    </p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img07.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Artz & Bugy & BEAM</h3>
                    <p class="mt-5">Numby</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img08.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Tony Bennett & Lady Gaga</h3>
                    <p class="mt-5">Love For Sale (Deluxe)</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img09.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Johnny Stimson</h3>
                    <p class="mt-5">Material Things</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img10.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Lil Wayne & Rich The Kid</h3>
                    <p class="mt-5">Trust Fund Babies</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img11.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Kane Brown & H.E.R.</h3>
                    <p class="mt-5">Blessed & Free</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
              <div class="top_album col-lg-2 col-md-4 col-sm-6 col-xs-6 col-6 m-0 p-0">
                <figure class="snip1384">
                  <img src="{% static 'main3_img12.jpeg' %}" class="top_img" alt="...">
                  <figcaption>
                    <h3 class="mt-4">Oliver Tree & Little Big</h3>
                    <p class="mt-5">Welcome To The Internet</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </div>    
    <!-- 배너     -->
    <div class="banner p-0 row text-center">
      <div class="banner-rolling col-sm-6 p-0">
        <a href="https://program.genie.co.kr/swf/main" target="_blank">
          <img src="{% static 'banner01.jpeg' %}" >
        </a>
      </div>
      <div class="banner-mini col-sm-6 p-0">
        <a href="https://mcountdown.genie.co.kr/vote/pre" target="_blank">
          <img src="{% static 'banner02.jpeg' %}" >
        </a>
      </div>
    </div>
    <!-- CHART  -->
    <div class="container">
      <hr>
      <div class="row">
        <div class="chart col-12 col-md-8">
          <h3 class="sub_title mt-5">실시간 차트</h3>
          <div class="music-list-wrap main-chart-list me-5">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              {% for a in l_chart %}
              <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td></td>
                  <td>{{ a.name }}</td>
                  <td>{{ a.singer }}</td>
                  <td>
                    <audio controls>
                    <source src="/static/{{ a.name }}.mp3" type="audio/mp3">
                    </audio>
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
        <!-- 회전목마 -->
        <div id="carouselExampleControls" class="carousel slide col-12 col-md-4 mt-5" data-bs-ride="carousel">
          <h2 class="sub_title">HOT & NEW</h2>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'carousel_img01.jpeg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'carousel_img02.jpeg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'carousel_img03.jpeg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- 뮤직비디오 바 -->
      <section class="innerContainer p-3 mt-3 mb-5">
        <div class="video_var mt-3">
          <header class="mb-3">
            <h3>최신 영상</h3>
          </header>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <figure>
                <a href="https://www.youtube.com/watch?v=awkkyBH2zEo" target="_blank"><img src="{% static 'video_img01.jpeg' %}"></a>
                <figcaption class="ms-3 mt-2">
                  <p class="trackTitle">
                    <span>12</span>
                    <a>LALISA</a>
                  </p>
                  <div class="subInfo">
                    <p class="artist">
                      <a>리사</a>
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-6 col-lg-3">
              <figure>
                <a href="https://www.youtube.com/watch?v=TP7FtzBuT8s" target="_blank"><img src="{% static 'video_img02.jpeg' %}"></a>
                <figcaption class="ms-3 mt-2">
                  <p class="trackTitle">
                    <span>12</span>
                    <a>OX1=LOVESONG</a>
                  </p>
                  <div class="subInfo">
                    <p class="artist">
                      <a>투모로우바이투게더</a>
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-6 col-lg-3">
              <figure>
                <a href="https://www.youtube.com/watch?v=p4rHTk2oayk" target="_blank"><img src="{% static 'video_img03.jpeg' %}"></a>
                <figcaption class="ms-3 mt-2">
                  <p class="trackTitle">
                    <span>12</span>
                    <a>About Summer</a>
                  </p>
                  <div class="subInfo">
                    <p class="artist">
                      <a>이루리</a>
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-6 col-lg-3">
              <figure>
                <a href="https://www.youtube.com/watch?v=0aaeUI1ucfQ" target="_blank"><img src="{% static 'video_img04.jpeg' %}"></a>
                <figcaption class="ms-3 mt-2">
                  <p class="trackTitle">
                    <span>15</span>
                    <a>PING PONG</a>
                  </p>
                  <div class="subInfo">
                    <p class="artist">
                      <a>현아&던</a>
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="p-5">
        <div class="bottom_ment mt-5">
        <h1>
          <strong>지금 바로 로그인하고<br>한땀 한땀 만든 사이트에서 노래 듣기</strong>
        </h1>
        <p class="mt-3">K-Pop부터 Jpop까지 모든 장르를 아우르는 건 기본<br>수천 개의 플레이리스트가 트렌드에 맞게 업데이트.</p>
      </div>
      </section>
      <!-- 꾸미기용 앨범띠? -->
      <span class="bottom_wrap">
        <img src="{% static 'bottom_wrap02.png' %}" >
      </span>
    </div>
    <!-- 맨 아래 부분 -->
    <hr>
{% endblock %}   
