{% extends 'base2.html' %}
{% load static%}
{% block contents %}
  <style>
    @media (min-width: 1000px){
      .container2 {
      max-width: 870px;
      }
    }
    .album_box {
      list-style: none;
      border: 1px solid black;
    }
    .album_img {
      width: 160px;
      height: 160px;
      border-start-start-radius: 10px;
    }
    .t_album_box {
    width: 100;
    }
    .album_box {
      border-radius: 10px;
    }
  </style>
  <script type="text/javascript">
    $(".hover").mouseleave(
      function() {
        $(this).removeClass("hover");
      }
    );
    
  </script>
  <div class="container container2">
    <div class="mb-3 ms-2 chart_top_text">최신음악</div>
    <ul class="nav nav-tabs d-flex justify-content-start" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button onclick="location.href='new_song'" class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">최신 곡</button>
      </li>
      <li class="nav-item" role="presentation">
        <button onclick="location.href='new_album'" class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">최신 앨범</button>
      </li>
    </ul>
    <div class="tab-content mt-3 p-0 w-100" id="myTabContent">
      <div class="tab-pane fade show active p-0" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <ul class="row p-0 m-0 t_album_box d-flex justify-content-between">
          {% for a in page_obj_b %}
          <li class="album_box col-5 row p-0 m-2 d-flex justify-content-between">
            <div class="thumb col-5 p-0"> 
              {% if page_obj_b.number == 2 %}
              <img class="album_img" src="{% get_static_prefix %}album_img{{ forloop.counter|add:'10' }}.jpeg" width= "100%" alt="1"> 
              {% else %}
              <img class="album_img" src="{% get_static_prefix %}album_img{{ forloop.counter }}.jpeg" width= "100%" alt="1"> 
              {% endif %}
            </div>
            <div class="entry col-7 p-0 ">
              <div class="info text-start ms-4 mt-2">
                <div>{{ a.kind }}</div>
                <div style="font-size: 1.2em;"><a>{{ a.album }}</a></div>
                <div style="font-size: 0.8em;">{{ a.singer }}</div>
                <span class="me-4" style="font-size: 0.8em;">{{ a.date }}</span>
                <span style="font-size: 0.8em;">{{ a.many }}</span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        </table>
        <!-- 페이징처리시작 -->
    <div id = "paging">
      <ul class = "pagination justify-content-center" style="margin-top: 2rem;">
        <!-- 이전페이지 -->
        {% if page_obj_b.has_previous %}
        <li class = "page-item">
          <a class = "page-link" href = "?page={{ page_obj_b.previous_page_number }}">이전</a>
          <!-- href로 뎁스 설정 -->
        </li>
        {% else %}
        <li class = "page-item disabled">
          <a class = "page-link" tabindex = "-1" aria-disabled="true" href = "#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_obj_b.paginator.page_range %}
        {% if page_number == page_obj_b.number %}
        <li class = "page-item active" aria-current = "page">
          <a class = "page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class = "page-item">
          <a class = "page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_obj_b.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj_b.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- 페이징처리 끝 -->
      </div>
    </div>
{% endblock %}  